<div class="container__big__card">
  <div class="big-card__foto">
    <img
    src="https://i.stack.imgur.com/y9DpT.jpg"
    alt=""
    srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu Nova versão Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus laboriosam minus expedita voluptate laborum optio ipsam deleniti corporis quos dolorem cumque placeat veritatis, accusantium nisi possimus soluta neque fugiat ut!
      </a>
    </p>
  </div>
</div>
