.container__small__card{
  width: 700px;
  margin-bottom: 20px;
}

.container__small__card__content{
  display: flex;
  flex-direction: row;

}


.small-card__foto > img{
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card__title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-card__title > h1{
  font-size: 20px;
}

.container__small__card__separator{
  margin-top: 20px;
}
